<div id="new_people" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title">New People</h3>
      </div>
      <div class="modal-body">
        <form name="new_people_form" role="form" novalidate>
          <div class="form-group" ng-class="{ 'has-error' : userName.name.$invalid }">
            <ng-form name="userName">
              <label>Email</label>
              <input type="email" class="form-control" name="name" ng-model="new_user.email" required>
              <p class="help-block" ng-show="userName.name.$invalid">Valid Email Required</p>
            </ng-form>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : userfname.first_name.$invalid }">
            <ng-form name="userfname">
              <label>First Name</label>
              <input type="text" class="form-control" name="first_name" ng-model="new_user.first_name" required>
              <p class="help-block" ng-show="userfname.first_name.$invalid">First Name Required</p>
            </ng-form>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : userlname.last_name.$invalid }">
            <ng-form name="userlname">
              <label>Last Name</label>
              <input type="text" class="form-control" name="last_name" ng-model="new_user.last_name" required>
              <p class="help-block" ng-show="userlname.last_name.$invalid">Last Name Required</p>
            </ng-form>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : usermname.middle_name.$invalid }">
            <ng-form name="usermname">
              <label>Middle Name</label>
              <input type="text" class="form-control" name="middle_name" ng-model="new_user.middle_name" required>
              <p class="help-block" ng-show="userlname.middle_name.$invalid">middle Name Required</p>
            </ng-form>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : usermname.middle_name.$invalid }">
            <ng-form name="usermname">
              <label>Middle Name</label>
              <input type="text" class="form-control" name="middle_name" ng-model="new_user.middle_name" >
              <p class="help-block" ng-show="usermname.middle_name.$invalid">Middle Name Required</p>
            </ng-form>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : s.suffix.$invalid }">
            <ng-form name="s">
              <label>Suffix</label>
              <input type="text" class="form-control" name="suffix" ng-model="new_user.suffix">
            </ng-form>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : t.title.$invalid }">
            <ng-form name="t">
              <label>Suffix</label>
              <input type="text" class="form-control" name="title" ng-model="new_user.title">
            </ng-form>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : a.address1.$invalid }">
            <ng-form name="a">
              <label>Address</label>
              <input type="text" class="form-control" name="address1" ng-model="new_user.address1">
            </ng-form>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : a2.address2.$invalid }">
            <ng-form name="a2">
              <label>Address2</label>
              <input type="text" class="form-control" name="address2" ng-model="new_user.address2">
            </ng-form>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : c1.city.$invalid }">
            <ng-form name="c1">
              <label>City</label>
              <input type="text" class="form-control" name="city" ng-model="new_user.city">
            </ng-form>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : z.zip.$invalid }">
            <ng-form name="z">
              <label>zip</label>
              <input type="text" class="form-control" name="zip" ng-model="new_user.zip">
            </ng-form>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="processPeople();" class="button" ng-disabled="new_user_form.$invalid">Submit</button>
      </div>
    </div>
  </div>
</div><!--/New Users Modal -->
<div id="people_manager" class="container-fluid">
  <div class="row">
    <h2>People</h2>
    <span class="btn-group center-block pull-left">
      <button class="button btn-lg" data-toggle="modal" data-target="#new_people">
        <span class="glyphicon glyphicon-plus"></span> Add Person
      </button>
    </span>
  </div>
  <div class="row">
    <table ng-table="peopletableParams" class="table">
      <tbody ng-repeat="entry in $data">
        <tr ng-show="editId!=entry.id" id="tr_{{entry.id}}" ng-class-odd="'odd'" ng-class-even="'even'">
          <td style="text-align:center;" data-title="'First Name'">
            <span>{{entry.first_name}}</span>
          </td>
          <td style="text-align:center;" data-title="'Last Name'">
            <span>{{entry.last_name}}</span>
          </td>
          <td style="text-align:center;" data-title="'Email'">
            <span>{{entry.email}}</span>
          </td>
          <td style="text-align:center;" data-title="'Actions'" width="200">
            <button type="button" ng-click="setEditId(entry.id);" class="btn btn-fab btn-raised btn-primary">
              <i class="mdi-editor-mode-edit" aria-hidden="true"></i> 
            </button>
          </td>
        </tr>
        <tr ng-show="editId===entry.id" ng-if="editId===entry.id">
          <td style="text-align:center;" colspan="6" ng-include src="'/js/admin/editPeopleRow.html'"></td>
        </tr>
      </tbody>
    </table>
  </div><!--/Table Row-->
</div>
